.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.container{
    background-color: black;
    width: 500px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .prior{
    height: 300px;
} */